name: CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        working-directory: mineral-kingdom-api/MineralKingdom
        run: dotnet restore MineralKingdom.sln

      - name: Build
        working-directory: mineral-kingdom-api/MineralKingdom
        run: dotnet build MineralKingdom.sln --configuration Release --no-restore

      - name: Test
        working-directory: mineral-kingdom-api/MineralKingdom
        run: dotnet test MineralKingdom.sln --configuration Release --no-build
